@model ScrumpingLMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Reciept";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reciept</title>
</head>
<body>
    <div>
        <h2>Kvittens</h2><br />
        Du har lyckats skapa en användare enligt den information som du angav.<br />
        Vänligen använd menyerna för att fortsätta. 
    </div>
</body>
</html>
