@{
    ViewBag.Title = "Om Lexicons LMS";
}
<h2>Lexicon LMS by Åsens Pallade Kjellkod</h2>

<p>Denna applikation är ett slutprojekt på kursen för .Net-utveckling.</p>
<p>Applikationen är ett första steg i att skapa ett LMS - Learning Management System - och i denna version så går det att skapa lärare, studenter, klasser samt scheman. Det går även för lärare att lägga upp 
    inlämningsuppgifter för studenter samt för studenterna att skicka in sina svar.</p>

För mer information är du välkommen att <a href="~/Home/Contact">ta kontakt med oss</a>.
