@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<h3>Åsens Pallade Kjellkod består av:<br /></h3>
<br />
<p>Sven Åsen<br />
    <a href="mailto:sven.asen@live.se"> sven.asen@live.se</a></p>

<p>Palle Lilja<br />
    <a href="mailto:palle.lilja@gmail.com">palle.lilja@gmail.com</a></p>

<p>Kjell Sandberg<br />
    <a href="mailto:sandberg.kjell@gmail.com">sandberg.kjell@gmail.com</a></p>