@model IEnumerable<ScrumpingLMS.Models.Dokument>

@{
    ViewBag.Title = "Index";
}

<h2>Lista på inlämningsuppgifter</h2>

@if(User.IsInRole("elev"))
{
    <p>
        @Html.ActionLink("Ladda upp ny inlämningsuppgift", "Create")
    </p>
}
@if (User.IsInRole("lärare")) {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DokumentName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               <td>
                    <a href="@item.DokumentLink" target="_blank">@Html.DisplayFor(modelItem => item.DokumentName)</a>
                </td>
            </tr>
        }

    </table>
}